img {
    width: 100%;
}

.bg-skeleton {
    background-image: url('../../../assets/bg-3 1.png');
    min-height: 448px;
}

.footer {
    background: #dd8017;
    color: #fff;
}

.scrollORder {
    overflow-x: scroll;
}