<!-- <script>
    import {
        initializeApp
    } from 'https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js';
    const firebaseConfig = {
        apiKey: "AIzaSyCR1PxY8iZP-TCrpGF0oHTXllHVvEmkhr8",
        authDomain: "coffee-queen-d014f.firebaseapp.com",
        projectId: "coffee-queen-d014f",
        storageBucket: "coffee-queen-d014f.appspot.com",
        messagingSenderId: "432009793542",
        appId: "1:432009793542:web:cf4f852b833d13f4d5b387"
    };
    import {
        getStorage,
        ref,
        uploadBytes,
        getDownloadURL,
        uploadBytesResumable,
    } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-storage.js";
    const app = initializeApp(firebaseConfig);
    const storage = getStorage(app);
    const nombre = 'nombre';
    export {
        nombre,
        storage,
        ref,
        uploadBytes,
        getDownloadURL,
        uploadBytesResumable,
    };
</script>
 -->


<div class="mb-4 mt-4">
    <button class="btn btnAgregar" data-bs-toggle="modal" data-bs-target="#modalFormUser" data-bs-whatever="@getbootstrap">Agregar Producto</button>
</div>


<div class="margen tablePedidos p-3">

    <table class="p-5 table table-striped ">
        <thead>
            <tr class="colorPedido">
                <th scope="col">Id</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">imagen</th>
                <th scope="col">Categoria</th>
                <th scope="col">fecha de Ingreso</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <th>{{ product.id}}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td><img width="60" src="{{product.image}}" alt=""></td>
                <td *ngIf="product.type=='drinks'">Bebidas</td>
                <td *ngIf="product.type=='juices'">Jugos</td>
                <td *ngIf="product.type=='desserts'">Postres</td>
                <td *ngIf="product.type=='cafes'">Cafés/Tés</td>
                <td *ngIf="product.type=='hamburguers'">Hamburguesas</td>
                <td *ngIf="product.type=='snacks'">Snacks</td>
                <td>{{ product.dateEntry }}</td>
                <td class="cursor"><img src="../../../../assets/editar.png" style="cursor: pointer"></td>
                <td class="cursor"><img (click)="open(content)" src="../../../../assets/bxs-trash.png" style="cursor: pointer"></td>
                <ng-template #content let-modal class="custom-class">
                    <div class="modal-body">
                        <h5 class="modal-title" id="modal-basic-title">¿Estás seguro que deseas eliminar {{ product.name }} ?</h5>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-warning" (click)="modal.close('return')">Cancelar</button>
                        <button type="button" class="btn btn-warning" (click)="modal.close('return')" (click)="deleteUser( product.id)">Eliminar</button>
                    </div>
                </ng-template>




            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="modalFormUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" method="post" name="formProduct" (ngSubmit)="loadImages()">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Descripción:</label>
                        <input type="text" class="form-control" id="recipient-name" [(ngModel)]="description" [ngModelOptions]="{standalone: true}">
                    </div>
                    <input type="file" id="file" class="input-file" (change)="onFileSelected($event)">

                    <div>
                        <label for="">Preview</label>
                        <div>
                            <img width="100px" [src]="imagenPrevia" alt="">
                        </div>
                    </div>



                    <div class="mb-3 d-flex">
                        <div>
                            <label for="recipient-name" class="col-form-label w-50">Precio:</label>
                            <input type="text" class="form-control w-50" id="recipient-name" [(ngModel)]="priceProduct" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div>
                            <label for="recipient-name" class="col-form-label w-75">Categoria:</label>

                            <ng-select [items]="arrayCategory" [(ngModel)]="optionSelected" name="selectCategory">
                            </ng-select>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                    <div class="wrapper-button">
                        <button class="w-100 btn btn-warning" type="submit" [disabled]="loading" data-bs-dismiss="modal">

                             {{(loading) ? 'Cargando...' : 'Agregar'}}
                </button>
                    </div>

                </div>
            </form>
            <!--  termina el form -->
        </div>
    </div>
</div>


<!--
<div class="modal fade" id="modalFormEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Descripción:</label>
                        <input type="text" class="form-control" id="recipient-name" [(ngModel)]="description" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Imagen:</label>
                        <input type="file" (change)="capturarImage($event)" class="form-control" id="recipient-name">
                    </div>
                    <div *ngIf="previsualizacion">
                        <img width="100" [src]="previsualizacion" alt="">
                    </div>
                    <div class="mb-3 d-flex">
                        <div>
                            <label for="recipient-name" class="col-form-label w-50">Precio:</label>
                            <input type="text" class="form-control w-50" id="recipient-name" [(ngModel)]="priceProduct" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div>
                            <label for="recipient-name" class="col-form-label w-75">Categoria:</label>
                            <select class="form-select ml-3" aria-label="Default select example" [(ngModel)]="optionSelected" [ngModelOptions]="{standalone: true}">
                                <option value="0">Seleccione</option>
                                <option *ngFor="let dato of arrayCategory">
                                  {{dato}}
                                </option>
                       </select>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
                <button type="button" class="btn btn-primary" [disabled]="loading" (click)="addProduct()">{{(loading)?'Cargando...':'Agregar'}}</button>
            </div>
        </div>
    </div>
</div> -->
