@import '../../sass/bootstrap/bootstrap.scss';

$color-btn: $orange-600;

section{
  background-image: url("../../assets/bg-inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  .div-inicio{
    padding-top: 15%;
  }
}

.color-btn{
  background-color: $color-btn;
  color: white;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

#inicio img{
  width: 20%;
}

#inicio button{
  font-size: 22px;
  width: 25%;
}
