<footer class="d-flex flex-wrap justify-content-center align-items-center pr-3 mx-5">
    <div class="col-md-4 d-flex justify-content-center align-items-center">
        <span class="text-white">© 2022 Coffee Queen, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-center align-items-center list-unstyled d-flex ">
        <li class="ms-3">
            <p class="text-white mt-3 ">Creators</p>
        </li>
        <li class="ms-3">
            <a class="text-primary" href="https://github.com/Milagros-Lc"> <img src="../../../assets/mili.png" alt="" width="30" height="30" class="rounded-circle me-2" title="Milagros"></a>
        </li>
        <li class="ms-3">
            <a class="text-primary" href="https://github.com/marianagdeveloper"> <img src="../../../assets/avatar_mari.jpg" alt="" width="30" height="30" class="rounded-circle me-2" title="Mariana"></a>
        </li>
        <li class="ms-3">
            <a class="text-primary" href="https://github.com/fio-azahuanche"> <img src="../../../assets/fio.jpeg" alt="" width="30" height="30" class="rounded-circle me-2" title="Fiorela"></a>
        </li>
    </ul>
</footer>
