<div class="d-flex justify-content-between col-12 col-sm-9 col-md-9 my-4 d-flex col-lg-6">
  <button class="btn btnSearch mx-2" (click)="cleanTable()">Limpiar</button>
  <div class="input-group">
    <input class="form-control  w-25" placeholder="Estado" aria-label="Search" [(ngModel)]="getOrder">
    <span class="input-group-text bgwhite" (click)="cleanSearch()">x</span>
    <button class="btn btnSearch mx-2" (click)="searchStatus()">Buscar</button>
  </div>

</div>

<div class="tablePedidos p-3">

  <table class="p-5 table table-striped ">
      <thead>
          <tr class="colorPedido">
              <th scope="col">N° Pedido</th>
              <th scope="col">Mesero</th>
              <th scope="col">Productos</th>
              <th scope="col">Fecha de Creación</th>
              <th scope="col">Estado</th>
          </tr>
      </thead>
      <tbody class="{{clean}}">
          <tr *ngFor="let order of orders.slice().reverse()">
              <td>{{ order.id }}</td>
              <td>{{ order.userName }}</td>
              <td>
                <ul class="mx-1 p-0">
                  <li *ngFor="let product of order.products" style="list-style-type: none;">
                    {{ product.qty }} {{ product.name }}
                  </li>
                </ul>
              </td>
              <td class="">{{cutNameProduct(order.dateEntry)}}</td>
              <td class="">{{ order.status }}</td>
          </tr>
      </tbody>
  </table>
</div>
