.btnSearch {
    background-color: rgb(230, 148, 16);
    color: white;
}

.bgwhite {
    background: white;
    color: rgba(112, 112, 111, 0.65);
    font-weight: bold;
}

.mlSearch {
    margin-left: auto;
}