<!-- CardsOrder -->
<div class="card text-center m-3" *ngIf="data">

  <div class="card-header">
      <img src="../../../../assets/{{data.status}}.png" alt="" width="30"> Mesa N° {{ data.numberTable }} : {{ data?.client }}
  </div>

  <div class="card-body">
    <p><strong>Total productos: {{data.totalQty}}</strong> </p>
    <ul class="mx-1 p-0">
      <li *ngFor="let order of data.products | slice:0:2" class="text-center" style="list-style-type: none;">
        {{ order.qty }} {{ order.name }}
      </li>
    </ul>

      <button class="btn btn-sm btn-more mt-2" (click)="open(content)">Ver Más</button>
      <br>
      <button class="btn btn-{{data.status}} mt-2" type="button" (click)="openModal(contentPending)" *ngIf="data.status =='pending'">
        Recibir pedido
      </button>
      <!-- Modal for Receive Order button -->
      <ng-template #contentPending let-modal>
        <div class="modal-body">
          <p class="modal-title d-flex justify-content-center" id="modal-basic-title" *ngIf="data.status =='pending'">¿Seguro de cambiar el estado a 'En Preparación'?</p>
        </div>
        <div class="d-flex justify-content-center mx-3">
            <button type="button" class="btn btn-sm btn-danger m-2" (click)="modal.close('return')">Cancelar</button>
            <button type="button" class="btn btn-sm btn-warning m-2" (click)="changeStatusToDelivering()" (click)="modal.close('return')">Enviar</button>
        </div>
      </ng-template><!-- Modal for Receive Order button -->

      <button class="btn btn-{{data.status}} mt-2" type="button" (click)="openModal(contentDelivering)" *ngIf="data.status =='delivering'">
        Preparado
      </button>
      <!-- Modal for Prepared button -->
      <ng-template #contentDelivering let-modal>
        <div class="modal-body">
          <p class="modal-title d-flex justify-content-center" id="modal-basic-title" *ngIf="data.status =='delivering'">¿Seguro de cambiar el estado a 'Preparado'?</p>
        </div>
        <div class="d-flex justify-content-center mx-3">
            <button type="button" class="btn btn-sm btn-danger m-2" (click)="modal.close('return')">Cancelar</button>
            <button type="button" class="btn btn-sm btn-warning m-2" (click)="changeStatusToDone()" (click)="modal.close('return')">Enviar</button>
        </div>
      </ng-template><!-- Modal for Prepared button -->

      <ng-template #content let-modal class="custom-class">

          <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">Pedido N° {{ data._id }} : {{ data?.client }}</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">
            <p>Total productos: {{data.totalQty}}</p>
            <ul *ngFor="let product of data.products">
              <li style="text-align: left; list-style-type: none">
                {{ product.qty }}  {{ product.name }}
              </li>
            </ul>
            <hr>
            <p>Adicionales: {{data.additional}}</p>
            <hr>
            <div class="mt-2 mx-4 text-left text-beige">
              <p>Mesero: {{ data?.userId }}</p>
              <p>Mesa N°: {{ data.numberTable }}</p>
              <p>Creación de pedido: <span>{{cutNameProduct(data.dateEntry)}}</span></p>
              <p *ngIf="data.status != 'pending' && data.status != 'canceled'">Inicio de preparación: {{cutNameProduct(data.dateDelivering)}}</p>
              <p *ngIf="data.status != 'pending' && data.status != 'delivering' && data.status != 'canceled'">Fin de preparación: {{cutNameProduct(data.dateDone)}}</p>
              <p *ngIf="data.status != 'pending' && data.status != 'delivering' && data.status != 'canceled'">Tiempo de preparación: {{data.timeResult}}</p>
              <p *ngIf="data.status != 'pending' && data.status != 'delivering' && data.status != 'done'&& data.status != 'canceled'">Entrega de pedido: {{cutNameProduct(data.dateProcessed)}}</p>
              <p *ngIf="data.status == 'canceled'">Pedido Cancelado: {{cutNameProduct(data.dateCanceled)}}</p>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
<!--             <button type="button" class="btn btn-warning" (click)="open(content2)" (click)="modal.close('return')" *ngIf="data.status == 'delivering'">Preparado</button>
 --><!--             <button type="button" class="btn btn-warning" (click)="modal.close('return')">Volver a pedidos</button>
 -->          </div>
      </ng-template>
  </div>
  <div class="card-footer text-muted">
    Hora de creación: {{ dateOrder }}
  </div>
</div>

