.custom-class {
  transform: translateX(62%);
  margin: 0;
  .modal-footer, .modal-header{
    background-image: url("../../../../../assets/mantel.png");
    .modal-title {
      margin-right: 76px;
    }
  }
  .modal-dialog{
    margin: 0;
    top: 15%;
    height: 85%;
  }
  .text-beige{
    color: #BD6B10;
  }
}
.card {
  width: 260px;
  height: 265px;
  border-radius: 10px;
  box-shadow:  0px 0px 6px 1px rgb(0 0 0 / 15%);
  ul{
    margin-bottom: 0;
  }
  li{
    font-size:small;
  }
  .btn-pending {
      background-color: #E73434;
      border-radius: 10px;
      color: white;
  }
  img {
      width: 30px;
  }
  .btn-delivering {
      background-color: #F1EA33;
      border-radius: 10px;
      color: white;
  }
  .btn-done {
    background-color: #69CF80;
    border-radius: 10px;
    color: white;
  }
  .btn-more {
    background-color: rgba(105, 110, 114, 0.356);
    border-radius: 10px;
  }
}

