<!-- CardsOrder -->
<div class="card text-center m-3 {{ classNew }}" *ngIf="data">
  <div class="card-header">
      <img src="../../../../assets/{{data.status}}.png" alt="" width="30"> Pedido N° {{ data?.id }}
  </div>
  <div class="card-body">
    <ul *ngFor="let order of data.products">
      <li class="text-center" style="list-style-type: none;">
        {{ order.qty }} {{ order.name }}
      </li>

    </ul>
      <div class="d-flex flex-column">
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          Más...
        </button>
        <a (click)="changeStatus()" class="btn btn{{data.status}}">{{ valueBtn }}</a>
      </div>

  </div>
  <div class="card-footer text-muted">
    {{ dateOrder }}
  </div>
</div>

