<header class="p-3">
    <div class="container">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-between align-items-center mb-md-0">
                <li>
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <img class="me-2" width="60" height="52" src="../../assets/logoTaza.png">
                    </a>
                </li>
                <li><a class="nav-link px-3 text-secondary" [routerLink]="['/orders']">Pedidos</a></li>
                <li><a class="nav-link px-3 text-white" [routerLink]="['/order-control']">Control de Pedidos</a></li>

                <!--    <li class="px-3">
                    <button type="button" title="Cerrar Sesión" class="btn btn-outline-light btn-sm" [routerLink]="['/login']">Cerrar Sesión</button>
                </li> -->
                <!--  <li class="px-3">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">

                        <h6 class="px-3 pt-2">{{nameUser}}</h6>
                        <img src="{{avatarUser}}" alt="" width="60" height="60" class="rounded-circle ">
                    </a>
                </li> -->

                <li class="nav-item dropdown text-white d-flex align-items-center">
                    <h6 class="px-3 pt-2 d-inline-block">{{nameUser}}</h6>
                    <a class="nav-link dropdown-toggle d-flex text-white" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                        <img src="{{avatarUser}}" alt="" width="60" height="60" class="rounded-circle ">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-white" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" [routerLink]="['/login']">Cerrar Sesión</a></li>

                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input type="search" class="form-control form-control-dark" placeholder="Buscar..." aria-label="Search">
          </form> -->
<!-- <li><a class="nav-link px-2 text-white" routerLink="/detail">Pedidos</a></li>
              <li><a class="nav-link px-2 text-white">FAQs</a></li>
              <li><a class="nav-link px-2 text-white">About</a></li> -->