<header class="p-3">
    <div class="container">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="me-2" width="60" height="52" src="../../assets/logoTaza.png">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 text-secondary" [routerLink]="['/orders']">Pedidos</a></li>
                <li><a class="nav-link px-2 text-white" [routerLink]="['/order-control']">Control de Pedidos</a></li>
                <!-- <li><a class="nav-link px-2 text-white" routerLink="/detail">Pedidos</a></li>
              <li><a class="nav-link px-2 text-white">FAQs</a></li>
              <li><a class="nav-link px-2 text-white">About</a></li> -->
            </ul>

            <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input type="search" class="form-control form-control-dark" placeholder="Buscar..." aria-label="Search">
          </form> -->
            <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../../assets/avatar-mesero.png" alt="" width="70" height="70" class="rounded-circle me-2">
                    <h1>{{nameUser}}</h1>
                </a>
            </div>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light" [routerLink]="['/login']">Cerrar Sesión</button>
            </div>
        </nav>
    </div>
</header>