<fieldset class="dsc-card mt-1  mb-2" *ngIf="data">

    <div>
        <div class="dsc-card__img">
            <!--             <img class="d-block my-auto mx-auto" src=" {{ data.image }}" alt="">
 --><img class="d-block my-auto mx-auto" [src]="safeUrlPic" alt="">

        </div>

        <div class="dsc-card__info">
            <p>{{ data?.name }}</p>
            <p>{{ data?.price | currency: "S/. "}}</p>
            <div class=" inputCant mt-2">
                <button type="button" class="btn btn-light sizeBtn" (click)="decreaseQuantity(data)">-</button>
                <input [attr.disabled]="true" type="text" class=" form-control  formInput text-center" [(ngModel)]="data.qty">
                <button type="button" class="btn btn-light sizeBtn" (click)="increaseQuantity(data)">+</button>
            </div>
            <!-- <button class="btn btn-success" (click)="getInfoProduct()">Añadir</button> -->
        </div>

    </div>
</fieldset>

<!-- <label>Click me to toggle: <input type="checkbox" ng-model="checked"></label><br/>
<button ng-model="button" ng-disabled="checked">Button</button> -->