.dsc-card {
    height: 200px;
    max-width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 4px solid rgb(136, 77, 9);
    transition: 0.7s all ease-in-out;
    background-color: white;
    height: 95%;
    &__img {
        width: 150px;
        height: 90px;
        margin: 1rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__info {
        border-top: 1px solid rgba(0, 0, 0, 0.25);
        font-size: 16px;
        text-align: center;
        p {
            margin: 0.5rem 0px 0px 0px;
        }
    }
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.inputCant {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    margin: auto;
    .sizeBtn {
        width: 60px;
        background-color: #e49329;
        font-size: 24px;
        font-weight: bold !important;
        color: white
    }
    .formInput {
        width: 40px
    }
}

button {
    display: inline-block !important;
    margin: auto !important;
    background-color: #B85C38;
}