.groupLegend {
  max-width: 600px;
  margin: auto;
  position: sticky;
  z-index: 10;
  background-color: white;
  padding: 15px;
  margin-top: -24px;
  margin-left: 10%;
  top: 1px;
  .pointerLegend {
      cursor: pointer;
  }
}
.card {
  width: 270px;
  img {
      width: 30px;
  }
  .btnEnPreparacion {
    background-color: #F1EA33;
    border-radius: 10px;
    color: white;
  }
}
.footer {
  padding: 10px;
  background: #dd8017;
  color: #fff;
}
.button {
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #111010;
  font-size: 15px;
  text-decoration: none;
  outline: 0;
}
.activebutton {
  background: #8b878336 !important;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #111010;
  font-size: 16px;
  text-decoration: none;
  outline: 0;
  padding: 3px;
}

@media only screen and (min-width: 300px) {
  .groupLegend {
    margin-right: 60px;
  }

}
