.groupLegend {
    max-width: 750px;
    margin: auto;
    position: sticky;
    z-index: 10;
    color: #0f0e0e;
    background-color: white;
    padding: 15px;
    margin-top: -24px;
    top: 1px;
    .pointerLegend {
        cursor: pointer;
    }
}

.classNew {
    top: 210px;
}

.card {
    .btnPedido {
        background-color: #e73434;
        border-radius: 10px;
        color: white;
    }
    img {
        width: 30px;
    }
    .btnEnPreparacion {
        background-color: #f1ea33;
        border-radius: 10px;
        color: white;
    }
    .btnPreparado {
        background-color: #6980cf;
        border-radius: 10px;
        color: white;
    }
    .btnListo {
        background-color: #69cf80;
        border-radius: 10px;
        color: white;
    }
}

.button {
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #111010;
    font-size: 15px;
    text-decoration: none;
    outline: 0;
}

.activebutton {
    background: #8b878336 !important;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #111010;
    font-size: 16px;
    text-decoration: none;
    outline: 0;
    padding: 3px;
}