<!-- Modal -->
<div class="offcanvas offcanvas-end bg-image" tabindex="-1" id="offcanvasNavbar" data-bs-backdrop="false" data-bs-scroll="true" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title fw-bold" id="offcanvasNavbarLabel">Pedido N° {{data.id}}</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ol class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let order of data.products">
          <div class="fw-bold">{{ order.name }}</div>
        <span class="badge bg-beige rounded-pill">{{ order.qty }}</span>
      </li>
    </ol>
    <hr>
    <p>Adicionales: {{data.additional}}</p>
    <hr>
    <div class="mt-2 mx-4 text-left text-beige">
      <p>Mesero: {{ data.userName }}</p>
      <p>Fecha de Creación: <span>{{ cutNameProduct(data.dateEntry) }}</span></p>
      <p>Fecha inicio preparación: {{ cutNameProduct(data.dateDelivering) }}</p>
      <p>Fecha fin preparación: {{ cutNameProduct(data.dateDone) }}</p>
      <p>Tiempo de preparación: 00:32:18</p>
      <p>Fecha de Entrega: {{ cutNameProduct(data.dateProcessed) }}</p>
    </div>

  </div>
</div>
