<!-- Modal -->
<div class="offcanvas offcanvas-end bg-image" tabindex="-1" id="offcanvasNavbar" data-bs-backdrop="false" data-bs-scroll="true" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title fw-bold" id="offcanvasNavbarLabel">Pedido N° 95</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ol class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="fw-bold">Hambuguesa</div>
        <span class="badge bg-beige rounded-pill">1</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="fw-bold">Jugo de Fresa</div>
        <span class="badge bg-beige rounded-pill">2</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="fw-bold">Brownie</div>
        <span class="badge bg-beige rounded-pill">1</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="fw-bold">Helado de lúcuma</div>
        <span class="badge bg-beige rounded-pill">1</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="fw-bold">Cafe Americano</div>
        <span class="badge bg-beige rounded-pill">1</span>
      </li>
    </ol>
    <div class="mt-3">
      Adicionales:
      <span></span>
    </div>
    <div class="mt-5 text-center text-beige">
      <p class="fw-bold">Fecha de Creación: <span>30/01/22 19:09</span></p>
      <p class="fw-bold">Fecha de preparación: 30/01/22 20:09</p>
      <p class="fw-bold">Tiempo de preparación: 01:00:06</p>
      <p class="fw-bold">Fecha de Entrega:</p>
      <p class="fw-bold">Mesero: Manuel Casas</p>
    </div>

  </div>
</div>
