<div class="margen">

    <div class="d-flex flex-row justify-content-between align-items-center">
        <div>
            <h4 class="colorNaranjoso">Pedido N° 100</h4>
        </div>
        <div class="d-flex flex-row">
            <span class="grosorLetra">Cliente: <input type="text" class="borde"></span>
            <span class="colorNaranjoso grosorLetra">Mesa: <input type="text" class="borde"></span>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr class="colorPedido">
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <th>{{ product.name }}</th>
                <td>{{ product.price | currency:"S/. " }}</td>
                <td class="inputCant">
                    <div class="input-group input-group-sm mb-1">
                        <button type="button" class="btn btn-light btn-sm" (click)="disminuirCantidad(product)">-</button>
                        <input [attr.disabled]="true" type="text" class="form-control form-control-sm text-center " [(ngModel)]="product.qty">
                        <button type="button" class="btn btn-light btn-sm" (click)="aumentarCantidad(product)">+</button>
                    </div>
                </td>
                <td>{{ product.subTotal| currency:"S/. "}}</td>
                <td class="cursor"><img (click)="deleteProduct(product)" src="../../../../assets/bxs-trash.png"></td>
            </tr>
        </tbody>
        <thead>
            <th scope="col">Total</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">{{ order.total | currency:"S/. "}}</th>
        </thead>
    </table>
    <div class="text-end">
        <a class="btn btn-danger btn-sm bordes m-3" role="button" aria-disabled="true"><img src="../../../../assets/x-light.png"></a>
        <a class="btn btn-success btn-sm bordes m-3" role="button" aria-disabled="true"><img src="../../../../assets/check-light.png"></a>
    </div>


</div>