<div class="d-flex flex-row justify-content-between align-items-center">
  <div>
    <h2>Pedido N°</h2>
  </div>
  <div class="d-flex flex-row">
    <span>Cliente: <input type="text"></span>
    <span>Mesa: <input type="text"></span>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Ítem</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pedido of pedidos">
      <th></th>
      <td></td>
      <td>
        <div class="input-group input-group-sm mb-1">
          <button type="button" class="btn btn-light btn-sm" (click)="disminuirCantidad(pedido)">-</button>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="pedido.cantidad">
          <button type="button" class="btn btn-light btn-sm" (click)="aumentarCantidad(pedido)">+</button>
          <button type="button" class="btn btn-light btn-sm"><img src="../../../../assets/bxs-trash.png"></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-end">
  <a class="btn btn-danger btn-lg" tabindex="-1" role="button" aria-disabled="true"><img src="../../../../assets/x-light.png"></a>
  <a class="btn btn-success btn-lg" tabindex="-1" role="button" aria-disabled="true"><img src="../../../../assets/check-light.png"></a>
</div>

