@import '../../sass/bootstrap/bootstrap.scss';
.login {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.input-group {
    margin: 10px;
}

.btn a {
    text-decoration: none;
    color: azure;
}