@import '../../sass/bootstrap/bootstrap.scss';

section{
  background-image: url("../../assets/bg-prueba.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.login {
    display: flex;
    justify-content: center;
    padding: 150px;
}

.input-group {
    padding: 10px;
}

.btn a {
    text-decoration: none;
    color: azure;
}
