<div class="login">
  <form (ngSubmit)="ingresar()">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">📧</span>
      <input
        type="text"
        class="form-control"
        placeholder="correo"
        aria-label="Username"
        aria-describedby="addon-wrapping"
        name="correo"
        [(ngModel)]="usuario.correo"
      >
    </div>

    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">🔑</span>
      <input
        type="password"
        class="form-control"
        placeholder="contraseña"
        aria-label="Username"
        aria-describedby="addon-wrapping"
        name="contraseña"
        [(ngModel)]="usuario.contrasenia"
      >
    </div>
    <button type="submit" class="btn btn-primary"><a>Ingresar</a></button>
  </form>
</div>



