@import '../../../sass/bootstrap/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@400;700&display=swap');
.bg-nav {
    background: rgba(196, 196, 196, 0.5);
}

.logo {
    font-family: Rosario;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #BD6B10;
}

.contentSidebar {
    width: 250px;
    max-width: 280px;
}

.button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    outline: 0;
}

.activebutton {
    box-shadow: inset 0px 1px 0px 0px #c3831b;
    background: linear-gradient(to bottom, #4b360b 5%, #cc520b77 100%);
    background-color: #6b6967ee;
    border-radius: 6px;
    border: 2px solid #d49a1d;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 24px;
    text-decoration: none;
    outline: 0;
}