<div class="d-flex flex-column flex-shrink-0 pt-3 text-white bg-dark col-2 mt-1 position-fixed contentSidebar">
    <a href="/" class="d-flex align-items-center mx-auto mb-3 mb-md-0 me-md-auto text-white text-decoration-none">

        <span class="fs-5 d-none d-md-inline-block logo">Coffee Queen</span>
    </a>
    <hr>
    <ul class="mx-auto nav nav-pills flex-column mb-auto">
        <li class="   ">
            <a class="nav-link text-white button" aria-current="page" [routerLink]="['/product']" routerLinkActive="activebutton">

                <img src="../../../assets/todos.png" width="30" height="30">
                <p class="d-none d-md-inline-block m-1">Todos</p>
            </a>
        </li>
        <li class="  ">
            <a class="nav-link text-white button" aria-current="page" [routerLink]="['/cafes']" routerLinkActive="activebutton">

                <img src="../../../assets/menu-cafes.png" width="30" height="30">
                <p class="d-none d-md-inline-block m-lg-1">Cafés/Tés</p>
            </a>
        </li>
        <li class=" ">
            <a class="nav-link text-white  button" aria-current="page" [routerLink]="['/juices']" routerLinkActive="activebutton">

                <img src="../../../assets/menu-jugos.png" width="30" height="30">
                <p class="d-none d-md-inline-block m-1">Jugos</p>
            </a>
        </li>

        <li class=" ">
            <a class="nav-link text-white button" [routerLink]="['/drinks']" routerLinkActive="activebutton">

                <img src="../../../assets/menu-bebidas.png" width="30" height="30">
                <p class="d-none d-md-inline-block m-1">Bebidas</p>
            </a>
        </li>
        <li class=" ">
            <a class="nav-link text-white button" [routerLink]="['/burgers']" routerLinkActive="activebutton">

                <img src="../../../assets/menu-panes.png" width="30" height="30">
                <p class="d-none d-md-inline-block m-1">Panes</p>
            </a>
        </li>
        <li class="">
            <a class="nav-link text-white button" [routerLink]="['/snacks']" routerLinkActive="activebutton">

                <img src="../../../assets/menu-snacks.png" width="30" height="30">
                <p class="d-none d-md-inline-block m-1">Snacks</p>
            </a>
        </li>
        <li class="">
            <a class="nav-link text-white button" [routerLink]="['/desserts']" routerLinkActive="activebutton">

                <img src="../../../assets/menu-postres.png" width="30" height="30">
                <p class="d-none d-md-inline-block m-1">Postres</p>
            </a>
        </li>
    </ul>
    <hr>

</div>