.tablePedidos {
    background: rgba(255, 255, 255, 0.781);
    border-radius: 20px;
    padding: 0.5rem;
    min-width: 650px;
    .colorLetra {
        color: #B85C38;
        font-weight: 600;
        margin: 10px;
    }
    .grosorLetra {
        font-weight: 600;
        margin: 10px;
    }
    .borde:focus {
        outline: none;
    }
    .table {
        .colorPedido {
            color: rgba(0, 0, 0, 0.37);
        }
        .inputCant {
            width: 120px;
        }
    }
    .table-striped>tbody>tr:nth-child(2n+1)>td,
    .table-striped>tbody>tr:nth-child(2n+1)>th {
        background-color: #f8b12e70;
        .cursor {
            cursor: pointer;
        }
    }
}