<section class="sectionLogin">
    <div class="container d-flex justify-content-center">
        <main class="form-signin">
            <form ng-submit method="post">
                <img class="m-4" src="../../../../assets/logoTaza.png" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Coffee Queen</h1>

                <div class="form-floating">
                    <input type="email" [(ngModel)]="users.email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" [(ngModel)]="users.password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="login()">Log in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
            </form>
        </main>
    </div>
</section>