@import url("https://fonts.googleapis.com/css2?family=Rosario:wght@400;700&display=swap");
form {
    img {
        display: block;
        margin: auto;
    }
}

.sectionLogin {
    background-image: url("../../../../assets/fondo1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    .logo {
        color: white;
        font-family: Rosario;
        text-align: center;
        font-style: normal;
        font-weight: bold;
    }
    .inputs {
        background: rgba(0, 0, 0, 0.445);
        border-radius: 20px;
        flex-direction: column;
        .btnLogin {
            height: 42px;
            font-size: 16px;
        }
        .mensaje {
            color: red;
            font-size: 14px;
            font-style: italic;
        }
    }
}